<h1>Our author</h1>



  
 <p><%= @author.first_name %></p>
 <p><%= @author.last_name %></p>
 <p><%= @author.email %></p>
 <p><%= @author.description %></p>
 <p><%= @author.age %></p>

  
  <% @author.gossips.each do |gossip| %>

			      <p><%= gossip.title %></p>
			      <p><%= gossip.content %></p>

  <% end %>

