<h1>Liste Gossips </h1>
<p>Ceci cest notre super site de potins, il est chouette, non ?</p>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  	<% @gossips.each_with_index do |gossip, index| %>
    <tr>
				<th scope="row"><%= index + 1 %></th>
			      <td><%= gossip.title %></td>
			      <td><%= gossip.content %></td>
			      <td><%= link_to "See Gossip", gossip_path(gossip.id) %>
    </tr>
   	<% end %>
  </tbody>
</table>




<div class="row">

<% @gossips.each_with_index do |gossip, index| %>
 
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= gossip.title %></h5>
        <p class="card-text"><%= gossip.content %></p>
        <%= link_to "See Gossip", gossip_path(gossip.id), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  
  <%end%>
  </div>


