<h1>Our author</h1>


 <p><strong>Prénom : </strong><%= @user.first_name %></p>
 <p><strong>Nom : </strong><%= @user.last_name %></p>
 <p><strong>Email : </strong><%= @user.email %></p>
 <p><strong>Description : </strong><%= @user.description %></p>
 <p><strong>Age : </strong><%= @user.age %></p>
  <p><strong>City : </strong><%= @user.city.name %></p>
  <%= link_to "Voir la ville de l'auteur", city_path(@city_id) %>

 <h2>Voici les autres gossips de <%= @user.first_name %> <%= @user.last_name %> : </h2>
 

<div class="row">

  <% @user.gossips.each do |gossip| %>
 
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= gossip.title %></h5>
        <p class="card-text"><%= gossip.content %></p>
        <%= link_to "See Gossip", gossip_path(gossip.id), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  
  <%end%>
</div>