<h1>Liste Gossips </h1>
<p>Ceci cest notre super site de potins, il est chouette, non ?</p>
<p>Allez, VASY ! Crée ton premier potin ! <%= link_to "Aqui", new_gossip_path, class:"btn btn-primary" %></p>


<div class="row">

<% @gossips.each_with_index do |gossip, index| %>
 
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= gossip.title %></h5>
        <p class="card-text"><%= gossip.content %></p>
        <%= link_to "See Gossip", gossip_path(gossip), class:"btn btn-primary" %>
        <%= link_to "Edit Gossip", edit_gossip_path(gossip), class:"btn btn-info" %>


      </div>
    </div>
  </div>
  
  <%end%>
</div>
