<div class="jumbotron">
  <h1 class="display-4">Liste Gossips </h1>
  <p class="lead">Ceci cest notre super site de potins, il est chouette, non ?</p>
  <hr class="my-4">     
   

  <p>Allez, VASY ! Crée ton premier potin ! <%= link_to "Create New Gossip", new_gossip_path, class:"btn btn-success" %></p>
</div>


<div class="row">

<% @gossips.each_with_index do |gossip, index| %>
 
  <div class="col-sm-4">
    <div class="card" style="margin-bottom:10px">
      <div class="card-body">
        <h5 class="card-title"><%= gossip.title %>  

        <%= link_to gossip_likes_path(gossip),  method:"POST" do %>
        <i class="fas fa-thumbs-up"></i> 
        <% end %>

        <%= link_to gossip_like_path(gossip, gossip.likes.last),  method:"DELETE" do %>
        <i class="fas fa-thumbs-down"></i>
        <% end %>
        </h5>

        <p class="card-text"><%= gossip.content.first(80) %></p>
        <%= link_to "See Detail", gossip_path(gossip), class:"btn btn-primary" %>
        <%= link_to "Edit Gossip", edit_gossip_path(gossip)%>
      
       
       



       
      </div>
      <span style="color: #63987c;font-style: bold; padding-left: 13px;"><%=gossip.likes.length%>  Likes</span>
       <span style="color: #63987c;font-style: bold; padding-left: 13px;"><%=gossip.comments.length%>  Comments</span>
    </div>
  </div>
  
  <%end%>
</div>


