<h1>Our Gossip</h1>

 <p><%= @gossip_detail.title %></p>
 <p><%= @gossip_detail.content %></p>
 <p><%= @gossip_detail.user.first_name %> <%= @gossip_detail.user.last_name %></p>
 <%= link_to "Voir la fiche de l'auteur", gossip_author_path(@gossip_detail, @author_id) %>
